.frame {
  position: relative;
  height: auto;
  width: auto;
  padding: 24px;
  border-radius: 12px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(255, 255, 255, 0.75) 0px 0px 0px 6px, rgba(0, 0, 0, 0.1) 0px 0px 50px -10px;
}


.audit-card {
    min-height: auto;
}